<head>
    <meta charset="utf-8" />
    <title>SRL</title>
    <style>
        body {
            overflow: hidden;
        }

        .editor {
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .canvas {
            display: block;
        }
    </style>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta id="appTitle" name="apple-mobile-web-app-title" content="SRL">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body>

    <div class="editor">
        <canvas id="canvas"></canvas>
    </div>
    <script>
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext('2d');
        var offsetX = 0;
        var offsetY = 0;
        var limitX = 0;
        var limitY = 0;
        var systemWidth = 0
        var systemHeight = 0
        var width4 = 0;
        var center = true;
        var imageData;
        var red = 255;
        var green = 255;
        var blue = 255;
        var backgroundRed = 0;
        var backgroundGreen = 0;
        var backgroundBlue = 0;
        var drawPoint;
        var socket;
        var spriteList = [];
        var count = 0;
        function hex2List(list, hex) {
            switch (hex) {
                case "0":
                    list.push(false, false, false, false);
                    break;
                case "1":
                    list.push(false, false, false, true);
                    break;
                case "2":
                    list.push(false, false, true, false);
                    break;
                case "3":
                    list.push(false, false, true, true);
                    break;
                case "4":
                    list.push(false, true, false, false);
                    break;
                case "5":
                    list.push(false, true, false, true);
                    break;
                case "6":
                    list.push(false, true, true, false);
                    break;
                case "7":
                    list.push(false, true, true, true);
                    break;
                case "8":
                    list.push(true, false, false, false);
                    break;
                case "9":
                    list.push(true, false, false, true);
                    break;
                case "a":
                case "A":
                    list.push(true, false, true, false);
                    break;
                case "b":
                case "B":
                    list.push(true, false, true, true);
                    break;
                case "c":
                case "C":
                    list.push(true, true, false, false);
                    break;
                case "d":
                case "D":
                    list.push(true, true, false, true);
                    break;
                case "e":
                case "E":
                    list.push(true, true, true, false);
                    break;
                case "f":
                case "F":
                    list.push(true, true, true, true);
                    break;
            }
        }

        function isValidX(x) {
            return x >= 0 && x < systemWidth;
        }

        function isValidY(y) {
            return y >= 0 && y < systemHeight;
        }

        function processSprite(width, sprite) {
            var list = [];
            for (var i = 0; i < sprite.length; i++) {
                hex2List(list, sprite.charAt(i));
            }
            var extra = list.length % width;
            if (extra) {
                for (var i = 0; i < extra; i++) {
                    list.pop();
                }
            }
            var finalList = [];
            var lines = list.length / width;
            for (var i = 0; i < lines; i++) {
                finalList.push(list.splice(0, width));
            }
            return finalList
        }

        function createNewImageData() {
            imageData = new ImageData(canvas.width, canvas.height);
            for (var i = 0; i < imageData.data.length; i += 4) {
                imageData.data[i] = backgroundRed;
                imageData.data[i + 1] = backgroundGreen;
                imageData.data[i + 2] = backgroundBlue;
                imageData.data[i + 3] = 255;
            }
            if (limitX && limitX < canvas.width) {
                if (center) {
                    offsetX = (canvas.width - limitX) / 2 | 0;
                } else {
                    offsetX = 0;
                }
                systemWidth = limitX;
            } else {
                offsetX = 0;
                systemWidth = canvas.width
            }
            width4 = canvas.width * 4;
            if (limitY && limitY < canvas.height) {
                if (center) {
                    offsetY = (canvas.height - limitY) / 2 | 0;
                } else {
                    offsetY = 0;
                }
                systemHeight = limitY;
            } else {
                offsetY = 0;
                systemHeight = canvas.height
            }
        }

        function drawPoint(x, y) {
            if (isValidX && isValidY) {
                var pos = (x + offsetX + (y + offsetY) * canvas.width) * 4;
                imageData.data[pos] = red;
                imageData.data[pos + 1] = green;
                imageData.data[pos + 2] = blue;
            }
        }

        function drawLine(x0, y0, x1, y1) {
            if (y0 == y1) {//Horizontal line
                if (x1 < x0) {
                    var aux = x0
                    x0 = x1;
                    x1 = x0;
                }
                if (y0 >= 0 && y0 < systemHeight && x0 >= 0 && x0 < systemWidth && x1 >= 0 && x1 < systemWidth) {
                    y0 = (y0 + offsetY) * width4;
                    x0 = (x0 + offsetX) * 4;
                    x1 = (x1 + offsetX) * 4;
                    for (var xi = x0; xi <= x1; xi += 4) {
                        var pos = xi + y0
                        imageData.data[pos] = red;
                        imageData.data[pos + 1] = green;
                        imageData.data[pos + 2] = blue;
                    }
                }
            } else if (x0 == x1) {//Vertical line
                if (y1 < y0) {
                    var aux = y0
                    y0 = y1;
                    y1 = y0;
                }
                if (x0 >= 0 && x0 < systemWidth && y0 >= 0 && y0 < systemHeight && y1 >= 0 && y1 < systemHeight) {
                    x0 = (x0 + offsetX) * 4;
                    y0 = (y0 + offsetY) * width4;
                    y1 = (y1 + offsetY) * width4;
                    for (var yi = y0; yi <= y1; yi += width4) {
                        var pos = x0 + yi;
                        imageData.data[pos] = red;
                        imageData.data[pos + 1] = green;
                        imageData.data[pos + 2] = blue;
                    }
                }
            } else {//Diagonal line

            }
            imageData.data[pos] = red;
            imageData.data[pos + 1] = green;
            imageData.data[pos + 2] = blue;
        }

        function drawFRect(x, y, width, height) {
            if (width > 0 && height > 0) {
                var xf = x + width - 1;
                var yf = y + height - 1;
                if (!((x < 0 && xf < 0) || (y < 0 && yf < 0) || (x >= systemWidth) || (y >= systemHeight))) {
                    if (x < 0) {
                        x = 0;
                    }
                    if (xf >= systemWidth) {
                        xf = systemWidth - 1;
                    }
                    if (y < 0) {
                        y = 0;
                    }
                    if (yf >= systemHeight) {
                        yf = systemHeight - 1;
                    }
                    x = (x + offsetX) * 4
                    xf = (xf + offsetX) * 4
                    y = (y + offsetY) * width4;
                    yf = (yf + offsetY) * width4;
                    for (var yi = y; yi <= yf; yi += width4) {
                        for (var xi = x; xi <= xf; xi += 4) {
                            var pos = xi + yi
                            imageData.data[pos] = red;
                            imageData.data[pos + 1] = green;
                            imageData.data[pos + 2] = blue;
                        }
                    }
                }
            }
        }

        function drawSprite(x, y, spriteId) {
            var sprite = spriteList[spriteId];
            var x0 = x;
            for (var line of sprite) {
                for (var dot of line) {
                    if (dot) {
                        drawPoint(x, y);
                    }
                    x += 1;
                }
                x = x0
                y += 1;
            }
        }

        function drawScaledSprite(x, y, spriteId, scale) {
            if (scale > 0) {
                var sprite = spriteList[spriteId];
                var x0 = x;
                for (var line of sprite) {
                    for (var dot of line) {
                        if (dot) {
                            drawFRect(x, y, scale, scale);
                        }
                        x += scale;
                    }
                    x = x0
                    y += scale;
                }
            }
        }

        function parseColorNum(num) {
            num = num | 0;
            if (num < 0) {
                num = 0;
            } else if (num > 255) {
                num = 255;
            }
            return num;
        }

        function setColor(r, g, b) {
            red = parseColorNum(r);
            green = parseColorNum(g);
            blue = parseColorNum(b);
        }

        function setBackgroundColor(r, g, b) {
            backgroundRed = parseColorNum(r);
            backgroundGreen = parseColorNum(g);
            backgroundBlue = parseColorNum(b);
        }

        function setLimit(x, y) {
            if (x < 0) {
                limitX = 0;
            } else {
                limitX = x;
            }
            if (y < 0) {
                limitY = 0;
            } else {
                limitY = y;
            }
        }

        function render() {
            //console.log(count)
            count = 0;
            ctx.putImageData(imageData, 0, 0);
        }


        function sendDimensions() {
            socket.send("dimensions;" + systemWidth + ";" + systemHeight);
        }


        canvas.onmousedown = function (evt) {
            evt.stopImmediatePropagation();
            evt.preventDefault();
            socket.send("mousec;" + evt.clientX + ";" + evt.clientY + ";" + evt.button);
        }

        document.addEventListener('contextmenu', event => event.preventDefault());

        /*
        canvas.onclick = function (evt) {
            socket.send("mousec;" + evt.clientX + ";" + evt.clientY + ";" + evt.button);
        }*/

        canvas.onmousemove = function (evt) {
            socket.send("mousem;" + evt.clientX + ";" + evt.clientY)
        }

        window.onkeydown = function (evt) {
            evt.stopImmediatePropagation();
            evt.preventDefault();
            console.log(evt.key);
            socket.send("input;" + evt.key);
        }

        window.onresize = function () {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            createNewImageData();
            render();
            sendDimensions()
        }
        window.onload = function () {
            socket = new WebSocket("ws://" + location.host.split(":")[0] + ":8001");
            socket.addEventListener('message', function (event) {
                count++;
                var res = event.data.split(";");
                switch (res.shift()) {
                    case "point":
                        drawPoint(Number.parseInt(res[0]), Number.parseInt(res[1]));
                        break;
                    case "line":
                        drawLine(Number.parseInt(res[0]), Number.parseInt(res[1]), Number.parseInt(res[2]), Number.parseInt(res[3]));
                        break;
                    case "rect":
                        drawRect(Number.parseInt(res[0]), Number.parseInt(res[1]), Number.parseInt(res[2]), Number.parseInt(res[3]));
                    case "frect":
                        drawFRect(Number.parseInt(res[0]), Number.parseInt(res[1]), Number.parseInt(res[2]), Number.parseInt(res[3]));
                        break;
                    case "color":
                        setColor(Number.parseInt(res[0]), Number.parseInt(res[1]), Number.parseInt(res[2]));
                        break;
                    case "bcolor":
                        setBackgroundColor(Number.parseInt(res[0]), Number.parseInt(res[1]), Number.parseInt(res[2]));
                        break;
                    case "sprite":
                        drawSprite(Number.parseInt(res[0]), Number.parseInt(res[1]), Number.parseInt(res[2]));
                        break;
                    case "ssprite":
                        drawScaledSprite(Number.parseInt(res[0]), Number.parseInt(res[1]), Number.parseInt(res[2]), Number.parseInt(res[3]))
                        break;
                    case "lsprite":
                        spriteList.push(processSprite(Number.parseInt(res[0]), res[1]));
                        break;
                    case "dsprite":
                        spriteList = [];
                        break;
                    case "limit":
                        setLimit(Number.parseInt(res[0]), Number.parseInt(res[1]));
                        break;
                    case "center":
                        center = (res[0] == "1");
                        break;
                    case "render":
                        render();
                        break;
                    case "clear":
                        createNewImageData();
                        break;
                    case "end":
                        alert("The server has ended the connection.");
                        location.reload();
                        break;

                }
            });
            socket.onopen = function () {
                window.onresize();
            }
        }
    </script>
</body>